### 按照复权收盘价计算因子alpha1
因子公式（公式来自worldquant的101 formula alphas）：
(rank(Ts_ArgMax(SignedPower(((returns < 0) ? stddev(returns, 20) : close), 2.), 5)) - 0.5)

In [1]:
import pandas as pd
import numpy as np

In [2]:
stock_df = pd.read_csv('stock_data.csv', encoding='gbk', index_col=0, parse_dates=True)
stock_df

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,name,change_reason
2010-01-04,000001.SZ,24.52,24.58,23.68,23.71,24.37,-0.66,-2.7100,241922.76,5.802495e+05,深发展A,完成股改
2010-01-05,000001.SZ,23.75,23.90,22.75,23.30,23.71,-0.41,-1.7300,556499.82,1.293477e+06,深发展A,完成股改
2010-01-06,000001.SZ,23.25,23.25,22.72,22.90,23.30,-0.40,-1.7200,412143.13,9.444537e+05,深发展A,完成股改
2010-01-07,000001.SZ,22.90,23.05,22.40,22.65,22.90,-0.25,-1.0900,355336.85,8.041663e+05,深发展A,完成股改
2010-01-08,000001.SZ,22.50,22.75,22.35,22.60,22.65,-0.05,-0.2200,288543.06,6.506674e+05,深发展A,完成股改
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-23,000503.SZ,13.60,13.97,13.20,13.69,13.81,-0.12,-0.8689,247708.18,3.362963e+05,国新健康,改名
2020-07-24,000503.SZ,13.61,13.75,12.53,12.70,13.69,-0.99,-7.2316,199896.17,2.620942e+05,国新健康,改名
2020-07-27,000503.SZ,12.72,13.13,12.41,12.81,12.70,0.11,0.8661,126040.32,1.613056e+05,国新健康,改名
2020-07-28,000503.SZ,12.73,13.07,12.70,12.88,12.81,0.07,0.5464,114530.60,1.475262e+05,国新健康,改名
2020-07-29,000503.SZ,12.87,13.43,12.75,13.29,12.88,0.41,3.1832,156885.99,2.064700e+05,国新健康,改名

In [3]:
stock_df.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-07-16', '2020-07-17', '2020-07-20', '2020-07-21',
               '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-27',
               '2020-07-28', '2020-07-29'],
              dtype='datetime64[ns]', length=233803, freq=None)

In [4]:
stock_df.reset_index(inplace=True)
stock_df.rename(columns={'index': 'trade_date'}, inplace=True)  #修改列名
stock_df.head()

,trade_date,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,name,change_reason
0,2010-01-04,000001.SZ,24.52,24.58,23.68,23.71,24.37,-0.66,-2.71,241922.76,5.802495e+05,深发展A,完成股改
1,2010-01-05,000001.SZ,23.75,23.90,22.75,23.30,23.71,-0.41,-1.73,556499.82,1.293477e+06,深发展A,完成股改
2,2010-01-06,000001.SZ,23.25,23.25,22.72,22.90,23.30,-0.40,-1.72,412143.13,9.444537e+05,深发展A,完成股改
3,2010-01-07,000001.SZ,22.90,23.05,22.40,22.65,22.90,-0.25,-1.09,355336.85,8.041663e+05,深发展A,完成股改
4,2010-01-08,000001.SZ,22.50,22.75,22.35,22.60,22.65,-0.05,-0.22,288543.06,6.506674e+05,深发展A,完成股改

In [5]:
df = stock_df.loc[stock_df['ts_code']=='000001.SZ']
df

,trade_date,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,name,change_reason
0,2010-01-04,000001.SZ,24.52,24.58,23.68,23.71,24.37,-0.66,-2.7100,241922.76,5.802495e+05,深发展A,完成股改
1,2010-01-05,000001.SZ,23.75,23.90,22.75,23.30,23.71,-0.41,-1.7300,556499.82,1.293477e+06,深发展A,完成股改
2,2010-01-06,000001.SZ,23.25,23.25,22.72,22.90,23.30,-0.40,-1.7200,412143.13,9.444537e+05,深发展A,完成股改
3,2010-01-07,000001.SZ,22.90,23.05,22.40,22.65,22.90,-0.25,-1.0900,355336.85,8.041663e+05,深发展A,完成股改
4,2010-01-08,000001.SZ,22.50,22.75,22.35,22.60,22.65,-0.05,-0.2200,288543.06,6.506674e+05,深发展A,完成股改
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2020-07-23,000001.SZ,14.24,14.29,13.81,14.01,14.41,-0.40,-2.7759,2027525.87,2.838535e+06,平安银行,改名
2495,2020-07-24,000001.SZ,13.97,13.99,13.42,13.50,14.01,-0.51,-3.6403,1830881.83,2.504647e+06,平安银行,改名
2496,2020-07-27,000001.SZ,13.67,13.68,13.10,13.24,13.50,-0.26,-1.9259,1880653.35,2.497551e+06,平安银行,改名
2497,2020-07-28,000001.SZ,13.34,13.43,13.18,13.34,13.24,0.10,0.7553,1217005.99,1.618090e+06,平安银行,改名
2498,2020-07-29,000001.SZ,13.35,13.63,13.21,13.54,13.34,0.20,1.4993,1519580.25,2.043847e+06,平安银行,改名

In [7]:
def count_fq(df):
    # 计算复权价格(在第一天买入1块钱的股票，最终能获得累积资金)
    df['涨跌幅'] = df['close'] / df['pre_close'] - 1
    df['复权因子'] = (1 + df['涨跌幅']).cumprod()
    df['close_fq'] = df['复权因子'] * (df.iloc[0]['close'] / df.iloc[0]['复权因子'])
    return df['close_fq']

In [10]:
stock_df.groupby('ts_code', group_keys=False).apply(count_fq)

0         23.710000
1         23.300000
2         22.900000
3         22.650000
4         22.600000
            ...
233798    16.430963
233799    15.242749
233800    15.374773
233801    15.458788
233802    15.950877
Name: close_fq, Length: 233717, dtype: float64

In [11]:
stock_df['close_fq'] = stock_df.groupby('ts_code', group_keys=False).apply(count_fq)
stock_df

,trade_date,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,name,change_reason,close_fq
0,2010-01-04,000001.SZ,24.52,24.58,23.68,23.71,24.37,-0.66,-2.7100,241922.76,5.802495e+05,深发展A,完成股改,23.710000
1,2010-01-05,000001.SZ,23.75,23.90,22.75,23.30,23.71,-0.41,-1.7300,556499.82,1.293477e+06,深发展A,完成股改,23.300000
2,2010-01-06,000001.SZ,23.25,23.25,22.72,22.90,23.30,-0.40,-1.7200,412143.13,9.444537e+05,深发展A,完成股改,22.900000
3,2010-01-07,000001.SZ,22.90,23.05,22.40,22.65,22.90,-0.25,-1.0900,355336.85,8.041663e+05,深发展A,完成股改,22.650000
4,2010-01-08,000001.SZ,22.50,22.75,22.35,22.60,22.65,-0.05,-0.2200,288543.06,6.506674e+05,深发展A,完成股改,22.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233798,2020-07-23,000503.SZ,13.60,13.97,13.20,13.69,13.81,-0.12,-0.8689,247708.18,3.362963e+05,国新健康,改名,16.430963
233799,2020-07-24,000503.SZ,13.61,13.75,12.53,12.70,13.69,-0.99,-7.2316,199896.17,2.620942e+05,国新健康,改名,15.242749
233800,2020-07-27,000503.SZ,12.72,13.13,12.41,12.81,12.70,0.11,0.8661,126040.32,1.613056e+05,国新健康,改名,15.374773
233801,2020-07-28,000503.SZ,12.73,13.07,12.70,12.88,12.81,0.07,0.5464,114530.60,1.475262e+05,国新健康,改名,15.458788
233802,2020-07-29,000503.SZ,12.87,13.43,12.75,13.29,12.88,0.41,3.1832,156885.99,2.064700e+05,国新健康,改名,15.950877

In [12]:
df = stock_df.loc[stock_df['ts_code']=='000001.SZ']
df

,trade_date,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,name,change_reason,close_fq
0,2010-01-04,000001.SZ,24.52,24.58,23.68,23.71,24.37,-0.66,-2.7100,241922.76,5.802495e+05,深发展A,完成股改,23.710000
1,2010-01-05,000001.SZ,23.75,23.90,22.75,23.30,23.71,-0.41,-1.7300,556499.82,1.293477e+06,深发展A,完成股改,23.300000
2,2010-01-06,000001.SZ,23.25,23.25,22.72,22.90,23.30,-0.40,-1.7200,412143.13,9.444537e+05,深发展A,完成股改,22.900000
3,2010-01-07,000001.SZ,22.90,23.05,22.40,22.65,22.90,-0.25,-1.0900,355336.85,8.041663e+05,深发展A,完成股改,22.650000
4,2010-01-08,000001.SZ,22.50,22.75,22.35,22.60,22.65,-0.05,-0.2200,288543.06,6.506674e+05,深发展A,完成股改,22.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2020-07-23,000001.SZ,14.24,14.29,13.81,14.01,14.41,-0.40,-2.7759,2027525.87,2.838535e+06,平安银行,改名,43.330156
2495,2020-07-24,000001.SZ,13.97,13.99,13.42,13.50,14.01,-0.51,-3.6403,1830881.83,2.504647e+06,平安银行,改名,41.752827
2496,2020-07-27,000001.SZ,13.67,13.68,13.10,13.24,13.50,-0.26,-1.9259,1880653.35,2.497551e+06,平安银行,改名,40.948699
2497,2020-07-28,000001.SZ,13.34,13.43,13.18,13.34,13.24,0.10,0.7553,1217005.99,1.618090e+06,平安银行,改名,41.257979
2498,2020-07-29,000001.SZ,13.35,13.63,13.21,13.54,13.34,0.20,1.4993,1519580.25,2.043847e+06,平安银行,改名,41.876539

In [21]:
# 按照复权收盘价计算因子
# alpha1因子公式（公式来自worldquant的101 formula alphas）：
# (rank(Ts_ArgMax(SignedPower(((returns < 0) ? stddev(returns, 20) : close), 2.), 5)) - 0.5)
# 公式说明：
# signedpower(x, a) = x的a次方
# ts_argmax(x, d) = 过去d天x序列最大值所对应的日期
# x?y:z = 如果x条件成立则返回y，否则返回z
# stddev(x, d) = 过去d天x序列的移动标准差
# rank(x) = x值的横截面排序（百分比）
# returns = daily close-to-close returns

def ts_argmax(df):
    # 计算: A = ((returns < 0) ? stddev(returns, 20) : close)
    rtn = df['close_fq'].pct_change()
    rolling_return_std = rtn.rolling(20, min_periods=1).std()
    df['rtn_factor'] = np.where(rtn<0, rolling_return_std, df['close_fq'])
    # 计算: B = Ts_ArgMax(SignedPower(A, 2.), 5)
    argmax = (df['rtn_factor']**2).rolling(5, min_periods=1).agg(pd.Series.idxmax)  # 获取过去五日最最大值对应的index
    df['ts_argmax'] = df.loc[argmax.values, 'trade_date'].values
    df.drop(columns=['rtn_factor'], inplace=True)
    return df

In [22]:
stock_df = stock_df.groupby('ts_code', group_keys=False).apply(ts_argmax)
stock_df.head()

,trade_date,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,name,change_reason,close_fq,ts_argmax
0,2010-01-04,000001.SZ,24.52,24.58,23.68,23.71,24.37,-0.66,-2.71,241922.76,5.802495e+05,深发展A,完成股改,23.71,2010-01-04
1,2010-01-05,000001.SZ,23.75,23.90,22.75,23.30,23.71,-0.41,-1.73,556499.82,1.293477e+06,深发展A,完成股改,23.30,2010-01-04
2,2010-01-06,000001.SZ,23.25,23.25,22.72,22.90,23.30,-0.40,-1.72,412143.13,9.444537e+05,深发展A,完成股改,22.90,2010-01-04
3,2010-01-07,000001.SZ,22.90,23.05,22.40,22.65,22.90,-0.25,-1.09,355336.85,8.041663e+05,深发展A,完成股改,22.65,2010-01-04
4,2010-01-08,000001.SZ,22.50,22.75,22.35,22.60,22.65,-0.05,-0.22,288543.06,6.506674e+05,深发展A,完成股改,22.60,2010-01-04

In [23]:
# 计算: (rank(B)-0.5)
stock_df['alpha1'] = stock_df.groupby('trade_date').rank(pct=True)['ts_argmax']-0.5
stock_df.drop(columns=['ts_argmax'], inplace=True)

In [24]:
stock_df.head()

,trade_date,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,name,change_reason,close_fq,alpha1
0,2010-01-04,000001.SZ,24.52,24.58,23.68,23.71,24.37,-0.66,-2.71,241922.76,5.802495e+05,深发展A,完成股改,23.71,0.005682
1,2010-01-05,000001.SZ,23.75,23.90,22.75,23.30,23.71,-0.41,-1.73,556499.82,1.293477e+06,深发展A,完成股改,23.30,-0.232955
2,2010-01-06,000001.SZ,23.25,23.25,22.72,22.90,23.30,-0.40,-1.72,412143.13,9.444537e+05,深发展A,完成股改,22.90,-0.293103
3,2010-01-07,000001.SZ,22.90,23.05,22.40,22.65,22.90,-0.25,-1.09,355336.85,8.041663e+05,深发展A,完成股改,22.65,-0.295455
4,2010-01-08,000001.SZ,22.50,22.75,22.35,22.60,22.65,-0.05,-0.22,288543.06,6.506674e+05,深发展A,完成股改,22.60,-0.331395